# Core
/wordpress/

# macOS/IDE
.DS_Store
.idea

# Log files
*.log
/tests/logs

# Packages
/node_modules/
/vendor/

# Enviroment
.env
.wp-env.override.json

# PHPCS
phpcs.xml

# ignore build files
/assets/build/