parameters:
		# Rules
		treatPhpDocTypesAsCertain: false
		inferPrivatePropertyTypeFromConstructor: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true

		# Configuration
		level: 8
		phpVersion:
			min: 80000
			max: 80400
		bootstrapFiles:
				- oneupdate.php
		paths:
				- oneupdate.php
				- uninstall.php
				- inc/
		scanDirectories:
				- vendor/aws
		excludePaths:
			analyse:
				- tests/
				- vendor/
			analyseAndScan:
				- node_modules (?)
		ignoreErrors:
				- # Too noisy for now.
					identifier: missingType.generics
				- # Too noisy for now.
					identifier: missingType.iterableValue
